Package: big-lxqt-upgrade
Version: 1.0.0-1big8
Depends: synaptic, yad
Architecture: all
Maintainer: Elton Fabricio <https://github.com/eltonfabricio10>
Section: admin
Priority: optional
Installed-Size:64
Description: Update notifier to LXQt

